$primary: #202020;
$secondary: #FFFFFF;
$third: #CACACA;

$grey-33: #333333;
$grey-4A: #4A4A4A;
$grey-66: #666666;
$grey-99: #999999;
$grey-C4: #C4C4C4;
$grey-E9: #E9E9E9;

$link-primary: #FF6E30;
$link-secondary: #BC572B;
$link-third: #CE4307;
$link-background: #FFD4C1;

$alert: #FF3030;
$slider: #223444;
$yellow: #FFF500;

